<div class="d-flex justify-content-center">

  <!-- Default form login -->
  <form
    #form="ngForm"
    (submit)="login(form)"
    class="text-center border border-light p-5">

    <p class="h4 mb-4">Sign in</p>

    <!-- Email -->
    <input
      mdbInput
      name="email"
      type="email"
      id="LoginFormEmail"
      class="form-control mb-4"
      placeholder="Email"
      ngModel required>

    <!-- Password -->
    <input
      mdbInput
      name="password"
      type="password"
      id="LoginFormPassword"
      class="form-control"
      placeholder="Password"
      ngModel required>

    <!-- Sign in button -->
    <button mdbBtn color="info" block="true" class="my-4" type="submit">Sign in</button>

    <!-- Register -->
    <p>Not a member?
      <a [routerLink]="'/auth/register'" routerLinkActive="router-link-active" >Register</a>
    </p>

  </form>
  <!-- Default form login -->

</div>
