<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark primary-color" [containerInside]="false">

  <mdb-navbar-brand>
    <a class="navbar-brand" href="#">
      Comfy Time
    </a>
  </mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>
          <mdb-icon fas icon="home"></mdb-icon>
          Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>
          <mdb-icon fas icon="compass"></mdb-icon>
          Explore
        </a>
      </li>
      <li class="nav-item" *ngIf="!isLoggedIn">
        <a class="nav-link waves-light" mdbWavesEffect
          [routerLink]="'/auth/login'"
          routerLinkActive="router-link-active">
          <mdb-icon fas icon="sign-in-alt"></mdb-icon>
          Login
        </a>
      </li>

      <!-- Dropdown -->
      <li class="nav-item dropdown" dropdown *ngIf="isLoggedIn">
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          <mdb-icon fas icon="user"></mdb-icon>
          Profile
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Favorites</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Profile</a>
          <div class="divider dropdown-divider"></div>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#" (click)="toggleLogIn()">
            <mdb-icon fas icon="sign-out-alt"></mdb-icon>
            Logout
          </a>
        </div>
      </li>

    </ul>
    <!-- Links -->

    <!-- Search form -->
    <form class="form-inline waves-light" mdbWavesEffect>
      <div class="md-form my-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
      </div>
    </form>
  </links>
  <!-- Collapsible content -->


</mdb-navbar>
<!--/.Navbar-->
