<div class="d-flex justify-content-center">
  <!-- Default form register -->
  <form
    #myForm="ngForm"
    (ngSubmit)="register(myForm)"
    class="text-center border border-light p-5">

    <p class="h4 mb-4">Sign up</p>


      <!-- Name -->
      <input
        mdbInput
        name="name"
        type="text"
        id="RegisterFormName"
        class="form-control mb-4"
        placeholder="Name"
        ngModel required>

      <!-- E-mail -->
      <input
        mdbInput
        name="email"
        type="email"
        id="RegisterFormEmail"
        class="form-control mb-4"
        placeholder="Email"
        ngModel required>

      <!-- Password -->
      <input
        mdbInput
        name="password"
        type="password"
        id="RegisterFormPassword"
        class="form-control"
        placeholder="Password"
        ngModel required>

    <!-- Register button -->
    <button mdbBtn color="info" block="true" class="my-4" type="submit">Register</button>

    <!-- Sign in -->
    <p>
      Already have an account?
      <a [routerLink]="'/auth/login'" routerLinkActive="router-link-active">Sign In</a>
    </p>

    <hr>

    <!-- Terms of service -->
    <p>By clicking
      <em>Register</em> you agree to our
    </p>
    <p>
      <a href="" target="_blank">terms of service</a> and
      <a href="" target="_blank">terms of service</a>.
    </p>

  </form>
  <!-- Default form register -->
</div>
